<main>
  <div class="card-wrapper">
    <header>
      <p>Chip</p>

      <p>Bandeira</p>
    </header>

    <input type="text" id="card-number" class="center" [(ngModel)]="cardNumber" placeholder="#### #### #### ####"
      maxlength="16" (input)="allowDigitOnly($event)" />

    <footer>
      <section>
        <label for="owner-name">Nome do Titular</label>

        <input type="text" id="owner-name" class="uppercase" [(ngModel)]="ownerName" (input)="allowWordOnly($event)" />
      </section>

      <section>
        <label for="expirationDate">Validade</label>

        <div class="card-date">
          <input id="expiration-month" maxlength="2" [(ngModel)]="expirationMonth" (input)="allowDigitOnly($event)" />

          <span> / </span>

          <input id="expiration-month" maxlength="2" [(ngModel)]="expirationYear" (input)="allowDigitOnly($event)" />
        </div>
      </section>
    </footer>
  </div>

  <!-- <h6>CVV</h6> add this to back of the card, animation swipe -->
</main>